@import 'variables';
@import 'robotofont';
@import 'robotomonofont';

body, html {
  background: $black;
  color: $white;
  margin: 0;
  overflow-x: hidden;
  font-family: $roboto-mono-font, monospace;
}


body {
  overflow-y: hidden;
}

