@import "../../../styles/variables";

.container {
  width: 90%;
  margin: 60px auto;
  display: flex;
  flex-direction: row;
  position: relative;


  .sectionNavigation{
    border-radius: 5px;
    margin-top: 70px;
    width: 250px;
    height: 500px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;

    h4 {
      margin: 20px 0 20px 10px;
    }

    .articleNav {
      border-bottom: 1px solid gainsboro;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      box-sizing: border-box;
      padding-left: 10px;

      &:nth-child(2) {
        border-top: 1px solid gainsboro;
      }

      &:hover {
        background-color: #2c2a2a;
      }
    }

  }

  .articleNavigation {
    width: 250px;
    height: 500px;
    position: absolute;
    right: 0;
    top: 10px;


    &Fix {
      width: 250px;
      height: 500px;
      position: fixed;
    }
  }

  .wrapper {
    width: 1070px;
    min-height: 100px;
    color: white;
    margin: auto;

    p {
      font-family: $roboto-font;
      font-size: 18px;
      font-weight: 300;
    }
  }

}





