@import "src/styles/variables";

.historyContainer {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(23,24,24,1) 80%, rgb(37, 35, 35) 90%, rgb(59, 63, 65) 99%);

  .contentContainer {
    width: 100%;
    height: calc(100vh - $navbar-height);

    .contentWrapper {
      width: 1070px;
      height: 100%;
      border: 1px solid transparent;
      margin: auto;
      text-align: center;

      h1 {
        width: 50%;
        font-size: 40px;
        overflow: hidden;
        border-right: .15em solid white;
        white-space: nowrap;
        margin: 40px auto;
        letter-spacing: .15em;
        animation:
                typing 3.5s steps(30, end),
                blink-caret .5s step-end infinite;
      }

      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }

      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: transparent }
      }
    }
  }

}

