@import "src/styles/variables";

.starSkyContainer {
  position: relative;
  height: auto;
  width: 100%;
  height: 100vh;
  background: $star-sky-color;
  display: flex;
  justify-content: center;
  align-content: center;

  .button {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 150px;
    height: 70px;
    border: 1px solid white;
    background: black;
    color: white;
    font-size: 18px;
    z-index: 999;
    transition: 200ms all;
    cursor: pointer;

    &:hover {
      background: #38383e;
    }
  }

  canvas {
  }
}
