@import "src/styles/variables";

.wrapper {
  width: 1070px;
  min-height: 100px;
  margin: 100px auto;
  color: white;

  p {
    font-family: $roboto-font;
    font-size: 18px;
    font-weight: 300;
  }
}
