@import "src/styles/variables";

.historyContainer {
  width: 100%;
  height: 100vh;
  background: $default-background-color;


  .contentContainer {
    width: 100%;
    height: calc(100vh - $navbar-height);


    .contentWrapper {
      width: 1070px;
      height: 100%;
      border: 1px solid transparent;
      margin: auto;
      text-align: center;

      .tabsContainer {
        position: relative;
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: row;

        .tabContent {
          object-fit: contain;
          width: 100%;
          height: 100%;

          &Text {
            text-align: left;
            padding: 5px 10px;
            font-size: 14px;
            height: 40px;
            color: white;
            border: 1px solid gainsboro;
            width: 70%;
            position: absolute;
            bottom: 15px;
            right: 160px;
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 5px;
          }

          &Button {
            cursor: pointer;
            position: absolute;
            right: 20px;
            bottom: 20px;
            width: 100px;
            height: 40px;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.75);
            color: white;
            border: 1px solid gainsboro;
            transition: 200ms all;
            font-family: $roboto-mono-font, monospace;

            &:hover {
              background-color: #38383e;
            }
          }

          img {
            width: 100%;
            height: 100%;
          }
        }

      }

      h1 {
        width: 50%;
        font-size: 40px;
        overflow: hidden;
        border-right: .15em solid white;
        white-space: nowrap;
        margin: 100px auto 40px auto;
        letter-spacing: .15em;
        animation:
                typing 3.5s steps(30, end),
                blink-caret .5s step-end infinite;
      }

      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }

      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: transparent }
      }
    }
  }

}

