@import '../../../styles/variables';

.link {
  color: white;
  text-decoration: none;
}

.navbar {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: all 300ms;
  opacity: 0;
  z-index: 9999;
  display: flex;
  box-sizing: border-box;
  padding: 0 20px;

  width: 100%;
  height: $navbar-height;
  color: $white;
  background: $black;
  border-bottom: 1px solid white;


  .customSelect {
    :global {
      .ant-select-selector {
        background-color: black;
        color: white
      }
    }
  }


  .navbarRightSection {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;

    .title {
      margin-right: 30px;
      font-size: 22px;
    }

    .navs {
      display: flex;
      flex-direction: row;
      height: 100%;
      justify-content: center;

      .nav {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        transition: 200ms all;

        &:hover {
          background: #2c2a2a;
          cursor: pointer;
          box-shadow: 0 6px 2px -2px white;
        }
      }
    }
  }


}

.navbarShow {
  opacity: 1;
}

.navbarFixed {
  position: fixed;
  top: 0;
}
