@import '../../../styles/variables';

.container {
  width: 100%;
  background-image: url($star-sky-background-image);

  .wrapper {
    width: 60%;
    height: 100%;
    margin: 100px auto 0 auto;
  }
}
